
body{
    background-color: #F5F7F6;
    
}
.another-page{
    border: 2px solid #DEDEDE;
    background-color: #fff;
    width: 900px;
    margin-left: 250px;
    justify-content: center;
    text-align: center;
    
    .user-img{
        margin:30px;
    }
    .user-body{
        
        margin: 80px;  
       
    }
}