
body{
    background-color: #F5F7F6;
}
.another-page{
    margin: 50px;
    justify-content: center;
    text-align: center;
    
    .user-img{
        margin:30px;
    }
    .user-body{
        
        margin: 80px;  
       
    }
}